.reset{
    margin-top: 17%;
    margin-left: 33%;
}
.space{
    margin-left: 33%;
    margin-top: 2%;
}
.space1{
    margin-top: 1%;
    margin-left: 33%;
    
}
#signup{
    margin-top: 3%;
    margin-left: 39%;
}